<div>
<p><%=@player1.name %> vs. <%=@player2.name %></p>
<p><%=@player2.name %>: <%=@player2.hit_points %>HP</p>
  <form action='/attack' method='get'>
    <div>
      <button class='button' type="submit">Attack <%=@player2.name %></button>
    </div>
  </form>
</div>
